$colors: (
    primary: (
        -3: '109, 94%, 13%',
        -2: '109, 94%, 23%',
        -1: '109, 94%, 33%',
        0: '109, 94%, 43%',
        1: '109, 94%, 58%',
        2: '109, 94%, 83%',
        3: '109, 94%, 98%'
    ),
    neutral: (
        0: '0, 0%, 0%',
        1: '0, 0%, 20%',
        2: '0, 0%, 40%',
        3: '0, 0%, 60%',
        4: '0, 0%, 80%',
        5: '0, 0%, 100%'
    )
);

:root {
    @each $color, $shade in $colors {
        @each $prop, $value in $shade {
            --color-#{$color}-#{$prop}: hsl(#{$value});
        }
    }
}
